# IDE :
# -----
# - [IntelliJ]
*.iml
.idea/

# Generic files to ignore :
# -------------------------
# - Apple temp
.DS_Store


# Languages :
# -----------
# - [Node.js]
package-lock.json
node_modules/package-lock.json

# IDE :
# -----
# - [IntelliJ]
.idea/